[SddmGreeterTheme]
Name=Arona Theme
Description=Blue Archive Theme for SDDM (Qt 6 Compatible)
Author=Machillka, Eagle
Copyright=Copyright (C) 2018 Marian Arlts
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Eagle10021/Arona-SDDM-Login
Screenshot=Previews/Preview.png
MainScript=Main.qml
ConfigFile=theme.conf

Theme-Id=arona-theme
Theme-API=2.11
QtVersion=6
